{% extends 'share/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3>R-Share</h3></div>
                    <div class="panel-content">
                        <p><ul>
                            <li>R-Share is a simple file sharing app.</li>
                            <li>Just upload the file and share the link.</li>
                            <li>You can also set a password to the file.</li>
                            <li>You can even make the file public. Such files appear in the "Public Repo".</li>
                        </ul></p>
                    </div>
                    <div class="panel-footer">Made by <a href="https://www.facebook.com/roopansh.bansal" target="_blank">Roopansh Bansal</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}