{% extends 'share/base.html' %}

{% block upload-active %}
    active
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Upload File</h3>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <!-- <div class="input-field s6"> -->
                    <!-- errors in the field -->
                    <span class="text-danger small">{{ field.errors }}</span>
                    <!-- label for the field -->
                    {{ field.label_tag }}

                    <!-- input field -->
                    {{ field }}

                <!-- </div> -->
            </div>
            {% endfor %}
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">cloud_upload</i>Share</button>
            </div>
        </form>
    </div>
                
    <!-- Display the link of the file uploaded -->
    {% if file_download %}
        <div class="form-group">
            <div class="col-md-offset-2"><strong>File successfully uploaded. Share using the following link : <code>{{ file_download }}</code></strong></div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        $('#id_password').hide();
        document.getElementById('id_password_set').onclick = function(){
            if (document.getElementById('id_password_set').checked) {
                $('#id_password').show();
            }
            else {
                $('#id_password').hide();
            }
        }
    </script>
{% endblock %}